<div class="container-fluid all-page" *ngIf="randomPunchline">
  <button routerLink='/' type="button" class="btn col-sm-8 col-md-5 col-lg-2 col-xl-2">Back</button>
  <div id="citation" class="citation col-4 offset-4">
    <div class="col-12">
      {{randomPunchline.content}}
    </div>
    <input type="text" class="form-control" id="authorAnswer" #authorAnswer placeholder="Who said this ?"
      (keydown.enter)="answer(authorAnswer.value)" />
    <button type="button" (click)="answer(authorAnswer.value)">Answer</button>
  </div>
</div>
